<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Hello, {{name}}
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>